// @import 'fonts';
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,800');

body {
	font-size: 17px;
	color: #fff;
	background-color: hsl(81, 16%, 33%);
}

a {
	color: #fb9961;
	outline: none;
}

h1 {
	color: #ffffff;

	font: {
		size: 2.25em;
		weight: 800;
		style: normal;
	}

	text-align: center;
	letter-spacing: -1px;
}

h1:first-child {
	margin-top: 0;
}

